body {
  background-color: rgb(192, 15, 15);
}
h1{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:white
}
p, h1 a::before{
  color:aliceblue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  nav {
    display: block;
    text-align: center;
    padding: 2px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 5px;
  }
nav a {
  color: black;
}
#pokemonData {
  background-color: rgb(160, 160, 160);
}
.pokemon {
  text-align: center;
  border: 2px solid black;
  padding-bottom: 30px;
  background-color:rgb(32, 138, 180);
}
.pokemon img {
  border: 2px solid black;
  margin-top: 10px;
  background-color:beige
}
.pokemon h2 {
  text-decoration: underline;
}
.pokemonPUT {
  position: fixed;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  background-color: rgb(131, 131, 131);
  border: 2px solid black
}
#submitButton{
  margin-top: 10px;
  margin-top: 10px;
  margin-left: 50%;
  transform: translate(-50%);
}
.pokemonPUT label {
  text-decoration:underline;
}
#closePopupButton {
  background-color: red;
  border: 3px solid black;
  text-align: center;
  display: inline-block;
  font-size: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.pokemonCreate {
  position: fixed;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  background-color: rgb(131, 131, 131);
  border: 2px solid black
}
