body {
  background-color: rgb(192, 15, 15);
}
h1 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}
p,
a {
  color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

nav {
  display: block;
  text-align: center;
}
nav a {
  color: black;
}
#pokemonPrime {
  background-color:rgb(32, 138, 180);

}
#pokemon-list {
  padding: 10px;
}
.listbody {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.pokemon {
  list-style: none;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  background-color: rgb(131, 131, 131);
}
.pokemon img {
  border: 2px solid black;
  margin-top: 10px;
  background-color:beige
}
.pokemon li {
  color: black;
  text-decoration: underline;
}
