body {
  background-color: rgb(192, 15, 15);
}
nav {
  display: block;
  text-align: center;
}
nav a {
  color: black;
}
#pokemonData {
  background-color: rgb(0, 17, 255);
}
.pokemon {
  text-align: center;
  border: 2px solid black;
  padding-bottom: 30px;
}
.pokemon img {
  border: 2px solid black;
  margin-top: 10px;
}
.pokemon h2 {
  text-decoration: underline;
}
